<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="../static/main.css">

    <title>Tweet Gen</title>
  </head>
  <body background="../static/zen.jpg">
    <!-- The Modal -->
            <div class="modal" id="myModal1">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Info About the Project</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    This is a sentence generator based off of the Markov Chain algorithm. By parsing a large corpus of text and generating histograms of words, we are able to predict what word might come next based on probabilities. Currently, this is generating a sentence between 15 and 20 words in length with a varying 1st to 4th order Markov Chain from a text of about 700,000 words.
                    <br><a href="https://en.wikipedia.org/wiki/Markov_chain">Read More On Markov Chains</a>
                    <br><a href="https://github.com/Coswold/tweet_generator">Check Out The Code</a>
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>

                </div>
              </div>
            </div>

    <!-- Jumbotron Main -->

    <div class="container vertical-center">
      <div class="jumbotron" style="width: 100%">
         <h1>The Crazy Philosopher</h1>
           <p style="height: 100px; margin: 2em">"{{ sentence }}"</p>
         <div class="btn-group" role="group" aria-label="Basic example">
         <a class="btn btn-primary btn-lg" href="/" role="button">Generate</a>

         <a href="" class="btn btn-secondary" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></a>
         </div>
      </div>
    </div>
  </body>
</html>
